@import "../../../style/imports";
@keyframes gift {
  0%   {left: 0;top: 0;transform: scale(1,1)}
  25%  {left: 100px;top: -100px;transform: scale(1.5,1.5) rotate(360deg)}
  50%  {left: 0;top: -200px;transform: scale(2,2) rotate(720deg)}
  75%  {left: -100px;top: -300px;transform: scale(1.5,1.5) rotate(360deg);opacity: 1}
  100% {left: 0;top: -400px;transform: scale(1,1) ;opacity: 0}
}
@keyframes out {
  0%   {opacity: 1}
  100%   {opacity:0}
}
@keyframes newLike {
  0%   {left: 20px;top: 0;transform: scale(1,1)}
  25%  {left: 50px;top: -200px;transform: scale(1.5,1.5) rotate(360deg)}
  50%  {left: 20px;top: -300px;transform: scale(1.75,1.75) rotate(720deg)}
  75%  {left: -10px;top: -400px;transform: scale(2.25,2.25) rotate(1080deg);opacity: 1}
  100% {left: 20px;top: -500px;transform: scale(2.75,2.75) rotate(1440deg)  ;opacity: 0}
}


.back{
  z-index:1000;
  position: absolute;
  left:0;
  transform: translate(0,-50%);
}
.icon-arrow-left{
  z-index:1001;
  width: 87px;
  height: 64px;
  line-height: 64px;
  margin-left: 10px;
  font-size: 52px;
}
.outline-live{
  height: 70px;
  line-height: 70px;
  border-radius: 35px;
  padding: 0 35px;
  background: $color-theme;
  color: white;
  font-size: 32px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.live{
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1;
}
.data-view {
  z-index: 100;
  padding-left:23px;
  padding-right: 23px;
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 .ani-img{
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50%;
 }
  .pusher-set-detail{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background:black;
    border-radius: 20px 20px 0 0 ;
    padding: 30px 18px;
    .pusher-set-title{
      height: 80px;
      color: white;
      font-size: 32px;
      font-weight: bold;
      .dec{
        padding-bottom: 16px;
        border-bottom: solid 4px white;
      }
    }
    .scroll-list{
      overflow: hidden;
      margin-top: 30px;
      .item-list{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        .item{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 16px;
          &-content{
            box-sizing: content-box;
            width: 90px;
            height: 90px;
            overflow: hidden;
            border-radius: 50%;
            background: gray;
            .filter-img{
              width: 100%;
              height: 100%;
            }
            .bf-dec{
              height: 90px;
              line-height:90px;
              border-radius: 50%;
              text-align: center;
              background: gray;
              color:white
            }
          }
          .selected{
            border: solid 6px $color-theme;
          }
          &-dec{
            margin-top: 20px;
            margin-bottom: 30px;
            color: white;
          }
        }
      }
    }
  }
  .goods-set-detail{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background:white;
    border-radius: 20px 20px 0 0 ;
    padding: 30px 34px;
    .setting-title{
      margin-top: 52px;
      text-align: center;
      font-size: 36px;
    }
    .set-feature{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 43px;
      margin-bottom: 127px;
      .f-item{
        width: 335px;
        height: 80px;
        background: #F1F1F3;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-add-sy{
          font-size: 28px;
          margin-right: 10px;
        }
      }
    }
  }
  .watcher-detail{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background: white;
    border-radius: 20px 20px 0 0 ;
    &-title{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 88px;
      line-height: 88px;
      .change-type-com{
        //margin-right: 138px;
      }
      .change-type-com,.change-type-line,.change-type-fans{
        font-size: 32px;
        color: #A1A1A1;
      }
      .choosed{
        color:black;
        font-weight: bold;
        border-bottom: solid 4px black;
      }
    }
    &-dec{
      height: 45px;
      line-height: 45px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #FBFAFA;
      padding: 0 35px;
      color:#A1A1A1;
      font-size: 23px;
    }
    &-list{
      height: 820px;
      .watcher-scroll-list{
        height: 100%;
        .item-list{
          &-none{
            height: 300px;
            line-height: 300px;
            text-align: center;
          }
        }
      }
    }
  }

  .setting-detail{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background: white;
    padding: 30px 15px 50px;
    border-radius: 20px 20px 0 0 ;
    .setting-title{
      font-size: 40px;
      font-weight: bold;
      margin: 20px 0 20px 20px;
    }
    .setting-item{
      margin: 40px 0;
      .item-title{
        margin: 10px 20px 20px 20px;
        border-bottom: solid 2px #eeeeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        [class~=iconfont]{
          font-size: 40px;
          margin-right: 20px;
        }
      }
    }
    .item-contain{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .first{
      justify-content: center;
      .config-item{
        margin: 0 100px;
      }
    }
    .config-item{
      flex:none;
      text-align: center;
      line-height: 90px;
      width: 90px;
      height: 90px;
      font-size: 28px;
      border-radius: 45px;
      background: #6f6b6b;
      color:white;
      margin-right: 20px;
    }
    .selected{
      background: $color-theme;
    }
  }

  .cart-detail{
    background: white;
    border-radius: 20px 20px 0 0 ;
    width: 100vw;
    position: absolute;
    left:0;
    bottom:0;
    &-title{
      font-size: 20px;
      margin-top: 20px;
      margin-left: 20px;
    }
    .goods-scroll{
      height: 828px;
      .none-goods{
        text-align: center;
        font-size: 32px;
        height:400px;
        line-height: 400px;
      }
    }
  }
  .live-detail{
    position: absolute;
    width: 100vw;
    height: 585px;
    left: 0;
    bottom:0;
    background:white ;
    border-radius: 20px 20px 0 0 ;
    &-avatar{
      width: 135px;
      height: 135px;
      border: solid 4px white;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left:50%;
      top:0;
      transform: translate(-50%,-50%);
      .img{
        width: 100%;
      }
    }
    &-dec{
      margin-top: 86px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .user_name{
        font-size: 32px;
        font-weight: bold;
      }
      .user_address{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        font-size: 23px;
        color:#A1A1A1;
        .icon-dizhi{
          margin-right: 10px;
          font-size: 40px;
          width: 40px;
          height: 40px;
        }
      }
      .user_dec{
        font-size: 23px;
        color:#A1A1A1
      }
      .user_dec_more{
        width: 100vw;
        padding:40px 104px 87px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item{
          display: flex;
          flex-direction: column;
          align-items: center;
          .dec-data{
            font-size: 31px;
            font-weight: bold;
          }
          .dec-dec{
            font-size: 23px;
            color:#A1A1A1;
          }
        }
      }
    }

    &-footer{
      margin: 0 92px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 30px;
      .dec-attend,.dec-main,.store{
        flex: 1;
        text-align: center;
      }
      .store{
        border-left: solid 2px #A1A1A1;
        //border-right: solid 2px #A1A1A1;
      }
    }
  }

  .set-config{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 240px 0;
    .config-top{
      width: 725px;
      margin: 0 0 0 -10.5px;
      position: relative;
      .opacity-bg{
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 340px;
        border-radius: 18px;
      }
      .config-content{
        position: absolute;
        width: 100%;
        top:0;
        left:0;
        padding: 0 22px;
        &-title{
          height: 90px;
          line-height: 90px;
          font-size: 32px;
          color: white;
          border-bottom: solid 2px rgba(255,255,255,0.43);
        }
        &-body{
          margin-top: 30px;
          display: flex;
          .body-left{
            flex: none;
            width: 180px;
            height:180px;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            .cover-img{
              position: absolute;
              width: 100%;
              height: 100%;
              left:0;
              top:0;
              z-index:100
            }
            .opacity-bg{
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.45);
            }
            .icon-jia{
              font-size: 50px;
              color: white;
              position: absolute;
              left:50%;
              top:50%;
              transform: translate(-50%,-50%);
              z-index: 200;
            }
            .upload-dec{
              position: absolute;
              left:0;
              bottom: 8px;
              width: 100%;
              color: white;
              display: flex;
              font-size: 23px;
              padding: 0 15px;
              justify-content: space-around;
              align-items: center;
              z-index: 300;
              .icon-copy{
                font-size: 28px;
              }
            }
          }
          .body-right{
            margin-left: 20px;
            flex:1;
            border-bottom: solid 2px rgba(255,255,255,0.43);
            .title-input{
              font-size: 32px;
              color: white;
            }
            .title-input-holder{
              font-size: 32px;
              color: rgba(255,255,255,0.43);
            }
          }
        }
      }
    }
    .config-bottom{
        .feature-list{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0 125px;
          font-size: 20px;
          color:white;
          .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .iconfont{
            width: 48px;
            height: 48px;
            font-size: 45px;
            text-align: center;
            color:white;
            margin-bottom: 14px;
          }
          .reverse-img{
            width: 46px;
            height: 46px;
            display: block;
            margin-bottom: 14px;
          }
        }
        &-begin{
          margin: 35px auto 0;
          width: 585px;
          height: 95px;
          border-radius: 47.5px;
          line-height: 95px;
          text-align: center;
          font-size: 40px;
          color:white;
          background: $color-theme;
        }
      }
  }

  .live-header{
    position: relative;
    left:40px;
    transform: translate(0,-40px);
    &-bottom{
      .contain-bottom{
        height: 40px;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.3);
        display: inline-block;
      }
      .bottom-contain{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 20px;
        color:white;
        .img{
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
    &-top{
    }
    .true{
      color:white;
      font-size: 24px;
      height: 40px;
      line-height: 40px;
    }
  }
  .contain-dec{
    height: 80px;
    border-radius: 40px;
    background: rgba(0,0,0,0.3);
    display: inline-block;
  }
    .header-contain{
      display: flex;
      flex-direction: row;
      align-items: center;
      color:white;
      margin: 0 40px 0 4px;
      .room-dec-name{
        line-height: 40px;
        font-size: 30px;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .room-dec-more{
        line-height: 40px;
        font-size: 20px;
      }
    }
  .attend{
    margin-left: 8px;
    height: 50px;
    padding: 0 25px;
    background: $color-theme;
    line-height: 50px;
    border-radius: 25px;
  }
    .avatar{
      width: 76px;
      height: 76px;
      border-radius: 50%;
      overflow: hidden;
      .img{
        width: 100%;
        height: 100%;
      }
    }

  .live-footer-container{
   margin-bottom: 70px;
  }
  .live-footer{
    position: relative;
    height:465px;
    &-user{
      animation:out ;
      animation-duration: 3s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      display: inline-block;
      line-height: 44px;
      height: 44px;
      border-radius: 22px;
      overflow: hidden;
      position: absolute;
      top:0;
      .content{
        .buy-dec{
          .user-name{
            margin-right:20px
          }
        }
      }
      .container{
        padding: 0 15px;
        background: #ec5942;
        border-radius: 22px;
        opacity: 0.38;
        height: 100%;
        display: flex;
        flex-direction: row;
        .buy-dec{
          .user-name{
            margin-right:20px
          }
        }
        .iconfont{
          font-size: 30px;
        }
        .iconfont,.buy-dec{
          visibility: hidden;
        }
      }
      .content{
        padding: 0 15px;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        left:0;
        top:0;
        font-size: 27px;
        color:white;
        .iconfont{
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
    &-feature{
      display: flex;
      flex-direction: row;
      align-items: center;
      .more{
        display: flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        .order-1{
          order: 1;
        }
        .order-2{
          order: 2;
          .img-like{
            animation: newLike 2.5s forwards;
            width: 40px;
            height: 40px;
            position: absolute;
            top:0;
            left:15px;
            z-index:1000
          }
        }
        .order-3{
          order: 3;
        }
        .order-4{
            order: 4;
          }
        &-item{
          width: 72px;
          height: 72px;
          border-radius: 36px;
          position: relative;
          .img{
            position: absolute;
            width:64px;
            animation: gift;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
          }
          .container{
            width: 72px;
            height: 72px;
            border-radius: 36px;
            background: rgba(0,0,0,0.3);
            position: relative;
          }
          .like,.cart{
            width: 45px;
            height:45px;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            .cart-img,.like-img{
              width: 100%;
              height: 100%;
            }
          }
          .iconfont{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            width:50px ;
            height: 50px;
            color:white;
          }
          //.icon-gouwucheman{
          //  color: #a3780a;
          //}
          .icon-xinaixin{
            color: #e75252;
          }
          .icon-zhuanfa,.icon-setting-copy,.icon-xinaixin{
            display: inline-block;
            padding: 0;
            font-size: 45px;
            line-height: 1.2;
            background: rgba(0,0,0,0);
          }
          .icon-zhuanfa:after{
            border: none;
          }
        }
      }
      .opc{
        position: relative;
        .send-message{
          width: 330px;
          padding: 0 35px;
          border-radius: 35px;
          height: 70px;
          background: #000000;
          opacity: 0.3;
          overflow: hidden;
          margin-right: 8px;
        }
        .holder{
          color: white;
        }
        .input{
          opacity: 1;
          font-size: 30px;
          border: none;
          background-color: transparent;
          position: absolute;
          left:0;
          top:0;
          color: white;
        }
      }
    }
    .message-scroll{
      height: 100%;
      overflow: auto;
      position: relative;
      top:50px;
      padding-bottom: 60px;
      //display: flex;
      //flex-direction: column;
      //justify-content: flex-end;
    }
     &-message{
       //display: flex;
       //flex-direction: column;
       //justify-content: flex-end;
     }
    .message{
      max-width: 690px;
      border-radius: 20px;
      display: inline-block;
      background: rgba(0,0,0,0.3);
      margin-bottom:6px ;
    }
    .msg-last{
      margin-bottom: 17px;
    }
    .true{
      line-height: 45px;
      padding: 0 20px;
      font-size: 27px;
      display: inline-block;
      .user_name{
        color:#EC5942;
        margin-right: 15px;
      }
      .user_message{
        color:white
      }
    }
  }
}
.test{
  height: 40px;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
}
.inner{
  color:red
}
.out-line{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  &-dec{
    height: 80px;
    line-height: 80px;
    padding: 0 60px;
    background: $color-theme;
    color: white;
    border-radius: 40px;
  }
}
.gift-detail{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100vw;
  background: black;
  border-radius: 20px 20px 0 0 ;
  overflow: hidden;
  .user-info-cash{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: solid 2px #eeeeee;
    .cash-dec{
      display: flex;
      color: white;
      align-items: center;
      .coin-img{
        width: 33px;
        height: 33px;
        margin:0 10px;
      }
    }
    .deposit{
      color: $color-theme;
    }
  }
  .gift-send-out{
    .gift-swiper{
      height: 620px;
    }
    .sp-item{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;

      .gift-item-container{
        margin: 0 25px 22px;
        color:white;
        position: relative;
        .gift-selected{
          position: absolute;
          top:0;
          left:50%;
          transform: translate(-50%,0);
          border-radius: 10px;
          overflow: hidden;
          z-index:100;
          background: #464343;
          .gift-img-selected{
            width: 180px;
            height: 180px;
            .img{
              width: 100%;
              height: 100%;
            }
          }
          .gift-name-selected{
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: $color-theme;
          }
          .gift-price-selected{
            text-align: center;
            font-size: 18px;
          }
        }
        .gift-img{
          width: 120px;
          height: 120px;
          //background: $color-theme;
          .img{
            width: 100%;
            height: 100%;
          }
        }
        .gift-price{
          font-size: 18px;
          color:#A4A4A4;
          text-align: center;
        }
        .gift-name{
          font-size: 25px;
          color: white;
          margin-top: 21px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }
}
.deposit-detail{
  padding: 0 32px;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100vw;
  border-radius: 20px 20px 0 0 ;
  background: white;
  .deposit-agreement{
    text-align: center;
    margin: 20px 0 30px;
    font-size: 24px;
    color:#7c7c7c;
    .agreement{
      color:#F1C73B;
    }
  }
  .user-info-deposit{
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    .cash-dec{
      display: flex;
      align-items: center;
      .coin-img{
        width: 33px;
        height: 33px;
        margin:0 10px;
      }
    }
    .deposit-dec{
      position: absolute;
      right: 50%;
      transform: translate(50%,0);
      font-size: 36px;
      color: #7c7c7c;
    }
  }
  .deposit-list{
    margin-top: 50px;
    .deposit-swiper{
      min-height: 350px;
      .dp-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .s-item{
          width: 210px;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #F9F9F8;
          margin-bottom: 22px;
          &-top{
            display: flex;
            align-items: center;
            .coin-img{
              width: 28px;
              height: 28px;
            }
            .coin-amount{
              font-size: 38px;
              font-weight: bold;
            }
          }
          .coin-price{
            color:#7c7c7c;
            font-size: 25px;
          }
        }
      }
    }
  }
}
.aside-set{
  position: absolute;
  right: 20px;
  top:280px;
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    color:white;
    .iconfont{
      width: 50px;
      height: 50px;
      font-size: 45px;
      text-align: center;
      color:white
    }
    .reverse-img{
      width: 46px;
      height: 46px;
      display: block;
      margin-bottom: 6px;
    }
  }
}
.gift-msg-list-float{
  position: absolute;
  width: 100vw;
  top:240px;
  left:0;
  .msg-item{
    flex:none;
    display: flex;
    height: 100px;
    align-items: center;
    padding-right: 30px;
    width: 100vw;
    .gift-name{
      color: $color-theme;
    }
    .gift-url{
      width: 70px;
      height: 70px;
      margin-left: 10px;
    }
  }
}

